.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#3f3f3f;
    padding: 3vh 1vw;
    transition-duration: .5s;
    width: 90vw;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.Header.dark{
    color: #f3decc;
}

.Header>div>a{
    font-size: 18pt;
    color: #3f3f3f;
    padding: 1.5vh 1vw;
    border-radius: 10px;
    transition-duration: .5s;
    margin: 0 .5vw;
}
.Header>div>a.dark{
    color:#f3decc;
}

.Header>div>a#active{
    background: rgba(63, 63, 63, 0.4);
}

.Header>div>a.dark#active{
    background: rgba(243, 222, 204, 0.27);
}

.Header>div>a#active:hover,.Header>div>a:hover{
    color:#f3decc;
    background: #3f3f3f;
}

.Header>div>a.dark#active:hover,.Header>div>a.dark:hover{
    color:#3f3f3f;
    background: #f3decc;
}


